body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    display: block;
    font-weight: 500;
    padding: 10px;
}

button:hover {
    background-color: #ccc;
    color: black;
}

button#signin {
    margin: 0px 0 0 0;
}

button#toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
}

div#password-constraints {
    margin: 5px 0 0 0;
    font-size: 16px;
}

form {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

input {
    border: 1px solid #ccc;
    width: calc(100% - 10%);
    padding: 5px;
    height: 30px;
}

input + span {
    position: relative;
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
    color: red;
    outline-color: red;
}

input[type=email]:not(:focus):invalid  + span:before,
input[type=password]:not(:focus):invalid  + span:before {
    content: '✖';
    color: red;
}

input[type=email]:not(:focus):valid + span:before,
input[type=password]:not(:focus):valid + span:before {
    content: '✓';
    color: green;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 3px 0;
}

form section {
    margin: 0 0 20px 0;
    position: relative;
}