:root {
    --desktop-font-size: 16px;
    --mobile-font-size: 22px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    display: block;
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    font-weight: 500;
    margin: 3px 0 0 0;
    padding: 10px;
}

button:hover {
    background-color: #ccc;
    color: black;
}

button#signin {
    margin: 0px 0 0 0;
}

button#toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    padding: 0;
    /* Display at the top right of the password section */
    position: absolute;
    top: -4px;
    right: -2px;
}

div#password-constraints {
    margin: 5px 0 0 0;
    font-size: 16px;
}

form {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
}

input {
    border: 1px solid #ccc;
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    width: 100%;
    padding: 5px;
    height: 30px;
}

input + span {
    position: relative;
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
    color: red;
    outline-color: red;
}

input[type=email]:not(:focus):invalid  + span:before,
input[type=password]:not(:focus):invalid  + span:before {
    content: '✖';
    color: red;
}

input[type=email]:not(:focus):valid + span:before,
input[type=password]:not(:focus):valid + span:before {
    content: '✓';
    color: green;
}

label {
    display: block;
    font-size: 20px;
    font-size: var(--mobile-font-size);
    font-weight: 500;
    margin: 0 0 3px 0;
}

form section {
    margin: 0 0 20px 0;
    position: relative; /* for password toggle positioning */
}

@media (min-width: 450px) {
    body {
        margin: 20px 50px;
    }
    button {
        font-size: 14px; /* fallback */
        font-size: var(--desktop-font-size);
    }
    div#password-constraints {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
        font-size: calc(2 * var(--desktop-font-size));
        font-weight: 500;
        margin: 0 0 80px 0;
    }
    input {
        font-size: 14px; /* fallback */
        font-size: var(--desktop-font-size);
    }
    label {
        font-size: 14px; /* fallback */
        font-size: var(--desktop-font-size);
    }
    }

    @media (min-width: 800px) {
    body {
        margin: 50px;
    }
}